{% extends 'base.html.twig' %}

{% block title %}Accueil - Bolonews{% endblock %}

{% block body %}

    {# --- Barre de recherche et actions utilisateur --- #}
    <div class='main-profil-container'>

        {# --- Contenu principal --- #}
        <div class="page-container">
            <section>

                {# -------- ARTICLE À LA UNE -------- #}
                <div class="container-card">
                    <h4>A la une !</h4>

                    {# Récupération du premier article #}
                    {% set featured = articles|first %}
                    <div class="featured-article">
                        <div class="container-article">
                            <div class="article-card">
                                <img src="{{ asset('uploads/images/' ~ featured.image) }}" alt="{{ featured.titre }}">
                            </div>

                            {# Titre + chapeau de l'article #}
                            <div class="article-content">
                                <span class="badge">{{ featured.categorie.libelle }}</span>
                                <h3>{{ featured.titre|length > 84 ? featured.titre|slice(0, 83) ~ '...' : featured.titre }}</h3>
                                <p>{{ featured.chapeau|slice(0, 120) ~ '...' }}</p>

                                {# Lien vers la page détail de l’article #}
                                <a href="{{ path('app_article_show', { id: featured.id }) }}">
                                    <p>Lire la suite <i class="fas fa-arrow-right"></i></p>
                                </a>

                                {# Auteur + compteur like et commentaire #}
                                <div class="article-infos">
                                    <div class="author">
                                        <img src="/images/avatar-placeholder.png" class="avatar">
                                        {{ featured.auteur.pseudo }}
                                    </div>
                                    <div class="stats">
                                        <small>publié le {{ featured.createdAt|date('d-m-Y à H:i') }}</small>
                                        <div class="stats-icon">
                                            <span> {{ featured.commentaires|length }} <i class="fa-regular fa-comment"></i></span>
                                            <span> {{ featured.likes|length }} <i class="fa-regular fa-heart"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            {# -------- AUTRE ARTICLES -------- #}
            {% if articles|length > 1 %}
                <section>
                    <h4>Dernières parutions</h4>

                    <div class="latest-articles-grid">

                        {# On ignore le premier article (déjà utilisé) avec slice(1) #}
                        {% for article in articles|slice(1) %}

                            <div class="mini-card">
                               <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.titre }}">
                                <span class="badge">{{ article.categorie.libelle }}</span>
                                <h3>{{ article.titre|length > 60 ? article.titre|slice(0, 59) ~ '...' : article.titre }}</h3>
                                <p>{{ article.chapeau|slice(0, 80) ~ '...' }}</p>
                                <a href="{{ path('app_article_show', { id: article.id }) }}">
                                    <p>Lire la suite <i class="fas fa-arrow-right"></i></p>
                                </a>

                                <div class="mini-infos">
                                    <small>{{ article.auteur.pseudo }} - {{ article.createdAt|date('d-m-Y à H:i') }}</small>

                                    <div class="stats-icon">
                                        <span> {{ article.commentaires|length }} <i class="fa-regular fa-comment"></i></span>
                                        <span> {{ article.likes|length }} <i class="fa-regular fa-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>
    </div>

{% endblock %}
