{% extends 'base.html.twig' %}

{% block title %}Accueil - Bolonews{% endblock %}

{% block body %}

<div class='main-profil-container'>
    <div class='new-recherche-bar'>
        {% if app.user %}
            <div class="recherche-a">
                <a href=""><i class="fas fa-pen"></i>Editer un article</a>
            </div>
        {% else %}
            <div>
                <a href=""></a>
            </div>
        {% endif %}

        {% if form is defined %}
            <div class="search-bar-container">
                {{ form_start(form, { method: 'get', attr: { class: 'search-form' } }) }}
                    <div class="search-field">
                        {{ form_row(form.q, {
                            label: false,
                            attr: {
                                placeholder: 'Rechercher un article...',
                                class: 'search-input',
                                id: 'search-input'
                            }
                        }) }}
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                {{ form_end(form) }}
            </div>
        {% endif %}

        {% if app.user %}
            <div class="new-a">
                <a href=""><i class="fas fa-plus"></i>Ajouter un article</a>
            </div>
        {% else %}
        <div>
            <a href=""></a>
        </div>
        {% endif %}
    </div>
</div>

    <div class="container-card">
        <h4>A la une !</h4>

    {% for article in articles %}

            <div class="container-article">
                <div class="article-card">
                    <img src="{{ asset('images/articles/' ~ article.image) }}" alt="{{ article.titre }}">
                </div>
        

                <div class="article-content">
                    <span class="badge">{{ article.categorie.libelle }}</span>

                    <h3>{% if article.titre|length > 84 %}
                            {{ article.titre|slice(0, 83) ~ '...' }}
                        {% else %}
                            {{ article.titre }}
                        {% endif %}
                    </h3>
                    <p>{{ article.chapeau|slice(0, 120) ~ '...' }}</p>

                    <div class="article-infos">
                        <div class="author">
                            <img src="/images/avatar-placeholder.png" class="avatar">
                            {{ article.auteur.pseudo }}
                        </div>
                        <div class="stats">
                            <small>publié le {{ article.createdAt|date('d-m-Y à H:i') }}</small>
                            <div class="stats-icon">
                                <span> {{ article.commentaires|length }} <i class="fa-regular fa-comment"></i></span>
                                <span> {{ article.likes|length }} <i class="fa-regular fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun article pour le moment.</p>
    {% endfor %}
{% endblock %}
