{% extends 'base.html.twig' %}

{% block title %}Modifier l’article{% endblock %}

{% block body %}
    <h2>Modifier l'article : {{ article.titre }}</h2>

    {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.chapeau) }}
            {{ form_row(form.contenu) }}
            {{ form_row(form.image) }}

            <div class="form-check">
                {{ form_label(form.published, 'Rendre public') }}
                {{ form_widget(form.published) }}
            </div>

            {{ form_row(form.categorie) }}
        <button class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <p>
        <a href="{{ path('app_article_show', { id: article.id }) }}">← Retour à l'article</a>
    </p>
{% endblock %}
